/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del modal */
.modal {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Botón de cerrar */
.close-btn {
    background: #cf061a;
    color: rgb(245, 243, 243);
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
    transition: background 0.3s;
}

.close-btn:hover {
    background: #a71d2a;
}

/* Títulos */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
}

input, select, button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    transition: background 0.3s ease;
}

input:focus, select:focus {
    background: rgba(255, 255, 255, 0.2);
}
option {
    background-color: #444a50;
}

button {
    background: #007bff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

/* Mensaje de error */
#error-msg {
    color: #ff4d4d;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}